table {padding: 0.5em; margin: 0.25em 0 1em;
	border-top: 3px solid #CECAA1; border-bottom: 2px solid #DDDABE;
	font-size: 90%;
	overflow: hidden;
	border-separate: separate; border-spacing: 0;}
table th, table td {padding: 0.25em 0.4em;
	vertical-align: middle;}
.main table p {margin: 0;}
p.note {font-style: italic; font-size: 92.5%; margin: -0.75em 0 0.75em;}

/* data tables */

table.data th, table.data td {border: 1px solid #CCC; border-width: 0 1px 1px 0;
	padding: 0.6em 0.33em 0.4em;
	text-align: right;}
table.data th {background: #E0EFF5;}
table.data thead th {vertical-align: bottom; border-top: 1px solid #CCC;}
table.data thead th:empty {border-top: none; background: none;}
table.data tbody th, table.data tfoot th {text-align: left; border-left: 1px solid #CCC;}

table.data tbody td {width: 4em;}
table.data tbody td.zero {colour: #666;}
table.data tbody td.hilt {background: #EEE;}
table.data thead th.total, table.data tbody td.total {
	border-left: 2px solid #CCC; colour: gray;}
table.data tfoot {colour: gray;}
table.data tfoot th, table.data thead th.total {
	text-align: right; background: none; padding: 0.6em 0.33em 0.4em;}
table.data tfoot th, table.data tfoot td {border-top: 2px solid #CCC;}

/* bar charts */

table.chart {padding-left: 0.25em; width: 100%;}
table.chart tbody th {text-align: right;}

table.chart.bar {padding-right: 4em;}
table.chart.bar tbody td {width: 30em;}
table.chart.bar tbody td p {position: relative; top: 0;
	padding: 3px 0 1px 1px; height: 1em;
	text-align: right;
	background-colour: #5CB9DC;}
table.chart.bar tbody td p span {position: absolute; top: 0.25em; left: 100%;
  margin-left: 0.33em; font-size: 93%;}

table.chart.bar.t10 tbody td div {width: 1000%;}
table.chart.bar.t20 tbody td div {width: 500%;}
table.chart.bar.t25 tbody td div {width: 400%;}
table.chart.bar.t30 tbody td div {width: 333.3%;}
table.chart.bar.t40 tbody td div {width: 250%;}
table.chart.bar.t50 tbody td div {width: 200%;}
table.chart.bar.t60 tbody td div {width: 166.7%;}
table.chart.bar.t70 tbody td div {width: 142.8%;}
table.chart.bar.t75 tbody td div {width: 133.3%;}
table.chart.bar.t80 tbody td div {width: 125%;}
table.chart.bar.t90 tbody td div {width: 111%;}
table.chart.bar.t100 tbody td div {width: 100%;}


/* combo bar charts */

table.chart.combo tbody th, table.chart.combo tbody td {padding: 0.15em 0.25em;}
table.chart.combo tbody th {white-space: pre;}
table.chart.combo tbody td p {padding: 0.33em 0;}
table.chart.combo tbody td p span {font-size: 93%; padding: 0 0.5em;}
table.chart.combo tfoot th {padding-top: 1em;}

/* duos */

table.chart.combo.double tbody td {width: 50%;}
table.chart.combo.double tbody td div {background: #5CB9DC;}
table.chart.combo.double tbody td.p1 div {width: 200%;}
table.chart.combo.double tbody td.p1 p {text-align: left;
	background-colour: #B2D43A; position: relative; z-index: 1;}

table.chart.combo.double tbody td.p2 {text-align: right;}
table.chart.combo.double tbody td.p2 p {width: auto !important; position: relative; z-index: 2;}

table.chart.combo.double tfoot th span {padding-left: 0.5em; border-left: 1.2em solid;}
table.chart.combo.double tfoot th.p1 span {border-left-colour: #B2D43A;}
table.chart.combo.double tfoot th.p2 span {border-left-colour: #5CB9DC;}

/* treys */

table.chart.combo.triple tbody td {width: 33%;}
table.chart.combo.triple tbody td div {width: 300%; position: relative;}

table.chart.combo.triple tbody td.p1 div {background: #FEA318;}
table.chart.combo.triple tbody td.p1 p {text-align: left;
	background-colour: #B2D43A;}

table.chart.combo.triple tbody td.p2 {text-align: center; vertical-align: top;}
table.chart.combo.triple tbody td.p2 div {margin-left: -100%;
	position: relative; z-index: 100; background: none;}
table.chart.combo.triple tbody td.p2 p {position: absolute;
	padding: 0.33em 0;}

table.chart.combo.triple tbody td.p3 div {margin-left: -200%;}
table.chart.combo.triple tbody td.p3 {text-align: right;}
table.chart.combo.triple tbody td.p3 p {margin-left: auto;
	background: #5CB9DC;}

table.chart.combo.triple tfoot th span {padding-left: 0.5em; border-left: 1.2em solid;}
table.chart.combo.triple tfoot th.p1 span {border-left-colour: #B2D43A;}
table.chart.combo.triple tfoot th.p2 span {border-left-colour: #FEA318;}
table.chart.combo.triple tfoot th.p3 span {border-left-colour: #5CB9DC;}

/* IE7 hack to fix middle bars on treys */

* html table.chart.combo.triple tbody td.p2 div {margin-left: -105%; margin-right: -106%;}
*+html table.chart.combo.triple tbody td.p2 div {margin-left: -105%; margin-right: -106%;}

/* to prevent bar growth */

* html table.chart.combo tbody th,
*+html table.chart.combo tbody th {white-space: nowrap;}
